@import './base.css';

#app {
  min-height: 100vh;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

input {
  width: 100%;
  display: inline-block;
  margin: 5px 0px;
  padding: 5px 5px;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.5);
}

input:focus {
  outline: 1px solid rgba(255, 0, 34, 0.842);
}

label {
  font-size: 16px;
  font-weight: 600;
  margin: 5px 0px;
}

.submitBtn {
  margin: 10px 0px;
  padding: 7px 0px;
  font-size: 15px;
  font-weight: 600; 
  background-color: rgba(255, 0, 34, 0.842);
  color: rgba(255,255,255,0.9);
  outline: none;
  border: none;
  border-radius: 5px;
}